@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* radix-colors */
    /* red */
    --yt-red-3: 0 100% 92%;
    --yt-red-7: 0 100% 65%;
    --yt-red-11: 0 100% 30%;

    /* green */
    --yt-green-3: 120 100% 92%;
    --yt-green-7: 120 100% 65%;
    --yt-green-11: 120 100% 30%;

    /* blue */
    --yt-blue-1: 210 100% 99%;
    --yt-blue-2: 210 100% 98%;
    --yt-blue-3: 207 93% 96%;
    --yt-blue-4: 204 100% 93%;
    --yt-blue-5: 204 100% 89%;
    --yt-blue-6: 206 94% 84%;
    --yt-blue-7: 206 88% 76%;
    --yt-blue-8: 204 84% 66%;
    --yt-blue-9: 207 100% 50%;
    --yt-blue-10: 206 96% 48%;
    --yt-blue-11: 206 85% 43%;
    --yt-blue-12: 214 66% 24%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    /* radix-colors */
    /* red */
    --yt-red-3: 0 100% 12%;
    --yt-red-7: 0 100% 20%;
    --yt-red-11: 0 100% 55%;

    /* green */
    --yt-green-3: 120 100% 12%;
    --yt-green-7: 120 100% 20%;
    --yt-green-11: 120 100% 55%;

    /* blue */
    --yt-blue-1: 214 29% 10%;
    --yt-blue-2: 220 29% 12%;
    --yt-blue-3: 215 58% 17%;
    --yt-blue-4: 208 100% 19%;
    --yt-blue-5: 203 100% 24%;
    --yt-blue-6: 208 79% 28%;
    --yt-blue-7: 208 66% 37%;
    --yt-blue-8: 209 60% 47%;
    --yt-blue-9: 207 100% 50%;
    --yt-blue-10: 209 100% 62%;
    --yt-blue-11: 208 100% 74%;
    --yt-blue-12: 207 100% 89%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
